
.box1{
    margin: 0;
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
    margin:50px 0 0 50px ;
}

.box2{
    margin: 0;
    height: 100px;
    width: 100px;
    background-color: black;
    display:inline-block;
    margin:50px 0 0 50px;
}

.parent-div1{
    margin: 0;
    height: 200px;
    width: 350px;
    background-color: red;

}

.parent-div2{
    margin: 0;
    height: 200px;
    width: 350px;
    background-color: blue;
    

}